* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #333;
}

body {
    position: relative;
    /* font: 14px helvetica,arial,freesans,clean,sans-serif; */
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    background: #F5F5F5;
    line-height: 1.4;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0 10px 0;
    padding: 0;
    /* font-weight: bold; */
    cursor: text;
    position: relative;
    color:#333;
    text-indent: 5px;
}

h1 {
    display: block;
    color: #323F4A;
    font-size: 25px;
}

.windows {
    position: absolute;
    top: 95px;
    left: 40px;
    right: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    /* 一番上の場合はtopが100px */
    /* margin: 100px 0 60px 0; */
    /* floatは仮 */
    float: left;
    padding: 20px;
    width: auto;
    border: 1px solid #dfdfdf;
    background: #FFFFFF;
}

.windows img {
    display: block;
    margin: auto;
    float: right;
    padding-left: 5px;
}

/* 埋め込みのスライド */
.gslide {
    display: block;
    width: 960px;
    height: 569px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.infobox {
    overflow:auto;
    background: #212930e1;
    border-color: #ca3636;
}

header {
    font: 14px;
    overflow:auto;
    background: #0B1A55;
    width: 100%;
    margin: 0;
    /* 表示を上部に固定 */
    position: fixed;
    /* 表示優先度 */
    z-index: 9;
}

.header-left {
    float: left;
    display: block;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.header-right {
    /* float: right; */
    display: block;
    font-size: 18px;
    margin: 20px;
    margin-left: 70%;
}

.header-right a {
    padding-left: 25px;
}

li, ul {
    list-style: none;
    padding-left: 14px;
    color:#B0B0B0;
}

a:link, a:visited {    
    color:#FF9000;
}

img {
    border-style: none;
}

iframe {
    position: relative;
}

/* コマンドラインの調整はこのセレクターを編集 */
.terminal {
    border: 2px solid #000000;
    font-family: monospace,courier,fixed,swiss,sans-serif;
    font-variant-ligatures: none;
    font-weight: normal;
    font-size: 14px;
    color: #ebf1ed;   
    border-collapse: collapse;
    line-height: normal;
    white-space: nowrap;

    width: 700px;
    margin-right: 15px;
    background: #000000;
}

.terminal-right{
    position: relative;
    vertical-align: top;
    overflow: auto;
    font-size: 18px;
    color: #333;
    width: 100%;
    height: 410px;
}

.terminal-right p{
    margin: 15px;
    font-size: 16px;
}

.screen {
    border: 0px solid black;
}

.contributor ul {
    padding: 0px;
    margin: 0px;
}
.contributor li {
    display: inline;
    padding: 0px;
    margin: 0px;
    height: 25px !important;
    line-height: 25px;
}

.contributor-info {
    width: 350px;
}

.donate {
    margin-top: 20px;
}


#infobox {
    display: block;
    margin-left: 20px;
    padding-bottom: 10px;
}

td {
    margin: auto;
}

.title {
    color: #323E4A;
    margin: 10px;
    padding: 7px;
    border-left: solid 10px #364273;
    border-bottom: solid 2px #364273;
    font-size: 30px;
    font-weight: bold;
    width: auto;
}

.forward-slide {
    margin: 20px 0 20px 0;
    text-align: center;
}